@use "../../index.scss" as *;

.show-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: 0.3s ease;
  z-index: 80;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 46vw;
  height: auto;
  color: white;
  background-image: url("../../assets/images/texture_dark_oak.png");
  background-repeat: repeat;
  border: none;
  box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.621);
  opacity: 0;
  visibility: hidden;

  &.active {
    animation: active 0.5s forwards;
    opacity: 0;
    overflow: visible;
    visibility: visible;
    z-index: 90;
  }
  &.disabled {
    animation: disabled 0.5s backwards;
    opacity: 0;
    visibility: hidden;
    z-index: 90;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -100vh;
    width: 7px;
    height: 100vh;
    background: repeating-linear-gradient(
      to bottom,
      #333,
      #333 4px,
      #ffffff 4px,
      #f2f2f2 8px
    );
    border-radius: 2px;
    z-index: 100;
  }

  &::before {
    left: 2vw;
  }

  &::after {
    right: 2vw;
  }
}

@keyframes active {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disabled {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}
.dialog-nav {
  display: flex;
  justify-content: space-between;
  padding: 1vw 3vw;

  margin-bottom: 0;

  h2 {
    text-transform: capitalize;
    text-shadow: 3px 6px 0px black;
    font-weight: 100;
    font-size: 1.7vw;
    margin: 1vw 0;
  }
}
.dialog-content {
  border-top: 2px solid rgb(255, 255, 255);
  padding: 2vw 3vw;

  p {
    font-size: 1.6vw;
    text-align: justify;
    text-align: justify;
  }
}

.cross-close {
  transition: 0.3s ease;
  background-color: rgb(88, 88, 88);
  box-shadow: 0px 2px 0px 0px rgb(201, 199, 199) inset,
    0px 2px 0px 0px rgba(41, 40, 40, 0.956);
  width: 2.5vw;
  margin: auto 0;
  height: 2.5vw;
  justify-content: center;
  display: flex;
  align-items: center;

  .modal-x {
    font-family: "Pixelify Sans";
    cursor: pointer;
    text-align: center;
    font-size: 1.8vw;
    transition: 0.3s ease;
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(110, 108, 108);
  }
}

.class-info {
  display: flex;
  flex-direction: row;
  img {
    height: 3vw;
    margin-right: 0.3vw;
  }
  h2 {
    color: rgb(255, 196, 0);
  }
}

@media (max-width: 1150px) {
  .show-modal {
    width: 70%;
    padding: 2rem;
    .dialog-nav {
      padding: 0;
      justify-content: center;
      align-items: center;

      .modal-x {
        margin-left: 2rem;
      }
    }
    .dialog-content {
      padding: 0;
      p {
        margin-top: 0;
        font-size: 1.1rem;
      }
    }
  }
}
