.server-container {
  width: 45vw;
  transition: transform 0.3s ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(32, 37, 41, 0.888);
  list-style: none;
  margin: 0.7rem auto;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
  border-radius: 0.3rem;
}
.server-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}
ul {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
}
img {
  height: 4vw;
  margin: auto 0;
  padding: 0 0.5rem;
}

.server-container li {
  width: 30vw;
}
.fav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.players-online {
  display: flex;
  margin: 0.2rem 0;
}
.fav-section h2 {
  color: rgb(169, 170, 170);
  font-size: 1.1vw;
  margin: auto 0;
}

.fav-section img {
  height: 1.2vw;
}
.motd-desc {
  font-size: 1.4vw;
  white-space: pre-wrap;
}
.content-server {
  width: 20rem;
}
.desc-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-next-section {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

.button-next-section button {
  font-size: 1.2rem;
  margin: 1rem;
  width: 7rem;
  height: 3rem;
  color: white;
  border: none;
  transition: ease 0.3s;
  box-shadow: 0px 2px 0px 0px rgb(194, 194, 194) inset,
    0px 2px 0px 0px rgba(60, 58, 58, 0.956);
  &:hover {
    background-color: rgb(93, 92, 92);
  }
}
.page-next {
  color: white;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}
.nav-button {
  transition: all 0.3s ease;
}

.active-button {
  background-color: rgb(131, 133, 131);
  cursor: pointer;
}

.disabled-button {
  background-color: rgb(93, 92, 92);
  cursor: no-drop;
  opacity: 0.6;
}
