$main-color: rgb(255, 255, 255);
$font-footer: 2rem;
$color-blue: rgb(226, 226, 226);

@mixin button {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-family: "Pixelify Sans", sans-serif;
  border-radius: 0.5rem;
  border: none;
  transition: 0.3s ease;
}

@mixin links {
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin: 0.5rem 0;
  line-height: 1rem;
  transition: 0.3s ease;
  &:hover {
    color: $color-blue;
  }
}

.footer-cont {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.footer-bg {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
      at bottom,
      rgba(0, 123, 255, 0) 30%,
      rgb(20, 20, 20) 70%,
      rgb(20, 20, 20) 80%
    ),
    url("../../assets/images/nether.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  filter: blur(6px);
  z-index: -111;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  border-bottom: 2px solid rgb(200, 200, 200);
  width: 80rem;
  margin: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-grid-1 {
  color: white;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 4rem 0;
  h4 {
    margin: 0;
    font-size: $font-footer;
    color: $color-blue;
  }
  p,
  a {
    @include links;
  }

  .footer-btn {
    font-size: 1.2rem;
    margin: 0 1rem;
    width: 5rem;
    height: 3rem;
    color: white;
    background-color: rgb(131, 133, 131);
    border: none;
    transition: ease 0.3s;
    box-shadow: 0px 2px 0px 0px rgb(194, 194, 194) inset,
      0px 2px 0px 0px rgba(60, 58, 58, 0.956);
    &:hover {
      cursor: pointer;
      background-color: rgb(93, 92, 92);
    }
  }
  .footer-btn-no-border {
    @include button;
    padding: 0.4rem 1rem;
    background-color: transparent;
    &:hover {
      color: rgb(85, 85, 191);
    }
  }
  div {
    margin: 0.4rem 0;
  }
}

.footer-grid-1-row {
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    line-height: 1.7rem;
    padding-left: 1rem;
    color: $color-blue;
    font-size: $font-footer;
  }
  img {
    width: 6rem;
    height: 4.9rem;
    place-items: center;
  }
}
.footer-author {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    color: white;
    margin: 0;
  }
  a {
    transition: 0.3s ease;
    text-decoration: none;
    color: white;
    &:hover {
      color: $color-blue;
    }
  }
}
.footer-contact-media {
  padding: 1rem 0;
  img {
    cursor: pointer;
    padding-right: 1.5rem;
    height: 2.5rem;
    transition: 0.3s ease;
    &:hover {
      transform: scale(0.9);
    }
  }
}
.footer-conc {
  @include links;
}
@media (max-width: 1150px) {
  .footer-section {
    width: 100%;
    .footer-container {
      display: flex;
      margin: 2rem;

      margin-bottom: 1rem;
      flex-direction: column;
      .footer-grid-1 {
        margin: 0;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        .footer-grid-1-row {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        p {
          text-align: center;
        }
        .footer-conc {
          text-align: center;
        }
      }
    }
  }
  .footer-author {
    width: 100%;
    padding: 0;
    padding-bottom: 1rem;
  }
}
