@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  font-family: "Pixelify Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.morning {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.382) 20vw,
      rgb(20, 20, 20) 45vw,
      rgb(20, 20, 20) 50vw,
      rgb(20, 20, 20) 50vw
    ),
    url("./assets/images/day.jpg");

  background-repeat: no-repeat;
  background-size: contain;
}
.night {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 123, 255, 0) 20vw,
      rgb(20, 20, 20) 45vw,
      rgb(20, 20, 20) 50vw,
      rgb(20, 20, 20) 50vw
    ),
    url("./assets/images/night.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes fade-inn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes show-details {
  0% {
    opacity: 0;
    transform: translateY(-5%) translate(14%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) translate(14%);
  }
}

@keyframes blur-in {
  0% {
    filter: blur(0rem);
  }
  100% {
    filter: blur(var(--blur-intensity));
  }
}

@mixin button {
  color: white;
  background-color: rgb(131, 133, 131);
  border: none;
  transition: ease 0.3s;
  box-shadow: 0px 2px 0px 0px rgb(194, 194, 194) inset,
    0px 2px 0px 0px rgba(60, 58, 58, 0.956);
  &:hover {
    cursor: pointer;
    background-color: rgb(93, 92, 92);
  }
}

@keyframes rainbow {
  0% {
    color: rgb(255, 0, 0);
  }
  28% {
    color: rgb(227, 227, 61);
  }
  71% {
    color: rgb(250, 146, 1);
  }
  85% {
    color: rgb(71, 6, 71);
  }
  100% {
    color: red;
  }
}
