@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Pixelify Sans";
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 123, 255, 0) 35%,
      rgb(20, 20, 20) 50%,
      rgb(20, 20, 20) 50%,
      rgb(20, 20, 20) 50%
    ),
    url("../public/images/night.png");

  background-repeat: no-repeat;
}
