@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  font-family: "Pixelify Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.morning {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 123, 255, 0) 40%,
      rgb(20, 20, 20) 45%,
      rgb(20, 20, 20) 50%,
      rgb(20, 20, 20) 50%
    ),
    url("/public/images/day.jpg");

  background-size: cover;
  background-repeat: no-repeat;
}
.night {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 123, 255, 0) 40%,
      rgb(20, 20, 20) 45%,
      #141414 50%,
      rgb(20, 20, 20) 50%
    ),
    url("/public/images/night.png");
  background-repeat: no-repeat;
}
